@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/*google fonts implimentation*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,900;1,500;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500;700;900&display=swap");
/*general styles*/
body {
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

.section {
  background-color: #f2f2fc;
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  /*position:fixed;*/
  left: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.section.back-section {
  z-index: 0;
}
.section.active {
  opacity: 1;
  z-index: 2;
  -webkit-animation: slideSection 1s ease;
  animation: slideSection 1s ease;
}

@-webkit-keyframes slideSection {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes slideSection {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}

.section-title {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 40px;
  color: #302e4d;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  margin: 0;
  position: relative;
}

.section-title h2::before {
  content: "";
  height: 4px;
  width: 50px;
  position: absolute;
  top: 100%;
  left: 0;
}

.section-title h2::after {
  content: "";
  height: 4px;
  width: 25px;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
}

.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  max-width: 120s0px;
  margin: auto;
  width: 100%;
}

.shadow-dark {
  -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}

.portfolio .container {
  padding-bottom: 40px;
}

.portfolio .portfolio-filter {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.portfolio .portfolio-filter button {
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0 10px;
  color: #302e4d;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  white-space: nowrap;
  padding-bottom: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio .portfolio-item {
  flex: 0 0 25%;
  max-width: 25%;
  margin-bottom: 30px;
}

.portfolio .portfolio-item.hide {
  display: none;
}

.portfolio .portfolio-item.show {
  display: block;
  animation: showItem 0.5 ease;
}

@-webkit-keyframes showItem {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes showItem {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.portfolio .portfolio-item-inner {
  border: 6px solid #302e4d;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.portfolio .portfolio-item-inner .portfolio-img img {
  width: 100%;
  display: block;
}
.portfolio .portfolio-item .portfolio-info {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  z-index: 1;
  padding: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
}

.portfolio .portfolio-item-inner:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  opacity: 0;
}
.portfolio .portfolio-item-inner:hover .portfolio-info h4 {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.portfolio .portfolio-item .portfolio-info .icon {
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  bottom: 30px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

.portfolio .portfolio-item-inner:hover .portfolio-info .icon {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.portfolio .portfolio-item .portfolio-info .icon .fa {
  line-height: 40px;
}

/*lightbox*/
.lightbox {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: zoom-out;
  padding: 30px;
}

.lightbox.open {
  display: -ms-flexbox;
  display: flex;
}
.lightbox .lightbox-content img {
  height: auto;
  width: auto;
  max-height: 500px;
  max-width: 100%;
  cursor: pointer;
  display: block;
  padding: 40px 0 30px;
}

.lightbox .lightbox-content {
  position: relative;
}

.lightbox.open .lightbox-content {
  animation: lightboxImage 0.5s ease;
}

@-webkit-keyframes lightboxImage {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.lightbox .lightbox-content .lightbox-close {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 0px;
  right: 0px;
  font-size: 32px;
  text-align: right;
  color: #ffffff;
  line-height: 40px;
}

.lightbox .lightbox-content .lightbox-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  z-index: -1;
}

.lightbox .lightbox-controls .prev-item,
.lightbox .lightbox-controls .next-item {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  top: 50%;
  margin-top: -20px;
  z-index: 110;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.lightbox .lightbox-controls .prev-item:hover,
.lightbox .lightbox-controls .next-item:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.lightbox .lightbox-controls .prev-item:active,
.lightbox .lightbox-controls .next-item:active {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.lightbox .lightbox-controls .prev-item {
  left: 30px;
}

.lightbox .lightbox-controls .next-item {
  right: 30px;
}

.lightbox .lightbox-controls .prev-item .fa,
.lightbox .lightbox-controls .next-item .fa {
  font-size: 32px;
  line-height: 40px;
}

.lightbox .lightbox-controls .prev-item .fa,
.lightbox .lightbox-controls .next-item .fa,
.portfolio .portfolio-item .portfolio-info .icon .fa,
.portfolio .portfolio-filter button.active {
  color: #ec1839;
}

.portfolio .portfolio-filter button.active {
  border-color: #ec1839;
}

/*reponsive*/
@media (max-width: 1199px) {
  .section .container {
    padding-top: 70px;
  }

  .section {
    left: 0;
  }
}
@media (max-width: 991px) {
  .portfolio .portfolio-item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 820px) {
  .portfolio .portfolio-filter button {
    margin-bottom: 10px;
  }
}
@media (max-width: 575px) {
  .portfolio .portfolio-item {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

h1 {
  line-height: 50px;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua",
    Georgia, serif;
  /*text-shadow:2px 2px 5px red;*/
  animation: blink 1s infinite;
  transition: transform 0.2s;
}

/*@keyframes blink{
		0%{ color:#none; }
		49%{ color:none; }
		60%{color:#ffffff;}
		99%{color:none;}
		100%{color:none;}
	}*/

h1:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

h2 {
  text-shadow: 2px 1px 1px;
  transition: width 2s, height 4s;
}

.heading {
  text-align: center;
  color: #454343;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
  z-index: 999;
}
.white-heading {
  color: #ffffff;
}
.heading:after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  height: 40px;
  width: 180px;
  border-radius: 4px;
  transform: translateX(-50%);
  background: url(img/heading-line.png);
  background-repeat: no-repeat;
  background-position: center;
}
.white-heading:after {
  background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
  background-repeat: no-repeat;
  background-position: center;
}

.heading span {
  font-size: 18px;
  display: block;
  font-weight: 500;
}
.white-heading span {
  color: #ffffff;
}
/*-----Testimonial-------*/

.testimonial:after {
  position: absolute;
  top: -0 !important;
  left: 0;
  content: " ";
  background: url(img/testimonial.bg-top.png);
  background-size: 100% 100px;
  width: 100%;
  height: 100px;
  float: left;
  z-index: 99;
}

.testimonial {
  min-height: 375px;
  position: relative;
  background: url(https://i.ibb.co/PTJDkgb/testimonials.jpg);
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center;
  background-size: cover;
}
#testimonial4 .carousel-inner:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item {
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators {
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li {
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active {
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  margin: 2px 3px;
  background-color: #9dd3af;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar {
  height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb {
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control {
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3, 1, 0, 1);
  transition: all 0.6s cubic-bezier(0.3, 1, 0, 1);
}
.testimonial4_control_button .carousel-control.left {
  left: 7%;
  top: 50%;
  right: auto;
}
.testimonial4_control_button .carousel-control.right {
  right: 7%;
  top: 50%;
  left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover {
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}

.testimonial4_header {
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.testimonial4_header h4 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonial4_slide {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}
.testimonial4_slide img {
  top: 0;
  left: 0;
  right: 0;
  width: 136px;
  height: 136px;
  margin: auto;
  display: block;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: relative;
  border-radius: 50%;
  box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}
.testimonial4_slide p {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.4;
  margin: 40px 0 20px 0;
}
.testimonial4_slide h4 {
  color: #ffffff;
  font-size: 22px;
}

.testimonial .carousel {
  padding-bottom: 50px;
}
.testimonial .carousel-control-next-icon,
.testimonial .carousel-control-prev-icon {
  width: 35px;
  height: 35px;
}
/* ------testimonial  close-------*/

#next {
  display: none;
}

.btn-container {
  margin: auto;
  height: 44px;
  width: 166.23px;
}

button {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  border: none;
  padding: 8px;
  font-size: 20px;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color: white;
  font-family: cursive;
  box-sizing: border-box;
}
.checked {
  color: orange;
}
span {
  margin-top: 30px;
  font-size: 40px;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
